# Python
*.pyc
*.pyo
__pycache__/
*.log

# Django
db.sqlite3
db.sqlite3-journal
/media
/staticfiles

# Environment variables
.env

# Virtual Environment
venv/
env/
ENV/

# IDEs
.vscode/
.idea/
.DS_Store

# Machine Learning models (if large)
*.h5
*.pkl